<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />

  <title>{% if page.title %}{{ page.title }}{% endif %}</title>

  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,400i,700,700i" rel="stylesheet">

  <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />

  <!-- smart phone css  -->
  <link href="{{ "/css/cv-phone.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="all and (min-width: 0px) and (max-width: 480px)" />

  <!-- Tablet -->
  <link href="{{ "/css/cv-tablet.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="all and (min-width: 481px) and (max-width: 800px)" />

  <!-- Desktop -->
  <link href="{{ "/css/cv-screen.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="screen and (min-width: 801px)">
  
  <!-- Print -->
  <link href="{{ "/css/cv-print.css" | prepend: site.baseurl }}" type="text/css" rel="stylesheet" media="print">

  <!-- Extra_css -->
  {% for css_name in page.extra_css %}<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ css_name }}">{% endfor %}

</head>

<body>
  <div id="main">
    <div id="content">

      <div class="photo"><img src="{{ "/images/Jo_2017.jpg" | prepend: site.baseurl }}" alt="Photo" style="border-radius: 5px;vertical-align: text-top; width: 100px;"/></div>
      
      {{ content }}

    </div>
  </div>
</body>
</html>